.route-card {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 16px;
  }
  
  .route-summary {
    display: flex;
    gap: 20px;
    flex-direction: column;
   }
  
  .route-times {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .time {
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #000;
  }
  
  .line-info {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .line-indicator {
    width: 33.3%;
    height: auto;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 500;
    border: none;
  }
  
  
  .trip-stats {
    display: flex;
    gap: 24px;
    color: #666;
    font-size: 14px;
    white-space: nowrap;
  }
  
  .stat {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .stat img {
    width: 16px;
    height: 16px;
  }
  
  .more-details {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    background: none;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #4F8AC9;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
  }

  .more-details:hover {
    background-color: #f5f9ff;
    border-color: #4F8AC9;
  }

  .chevron {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .chevron.expanded {
    transform: rotate(180deg);
  }

  .details-enter {
    max-height: 0;
    opacity: 0;
  }

  .details-enter-active {
    max-height: 1000px;
    opacity: 1;
    transition: max-height 300ms ease-in, opacity 300ms ease-in;
  }

  .details-exit {
    max-height: 1000px;
    opacity: 1;
  }

  .details-exit-active {
    max-height: 0;
    opacity: 0;
    transition: max-height 300ms ease-out, opacity 300ms ease-out;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-3px);
    }
    60% {
      transform: translateY(-2px);
    }
  }

  .more-details:hover .chevron {
    animation: bounce 1s ease infinite;
  }
  
  
  @media (max-width: 768px) {
    .time {
      font-size: 24px;
    }
  
    .route-times {
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }
  
    .line-indicator {
      width: 100%;
      padding: 8px;
      border: none;
    }
  
    .more-details {
      width: 100%;
      justify-content: center;
    }
  }